﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/api/post">
        <div class="form-group">
            <div class="col-md-10">
                Title <input type="text" name="Title" id="title" />
                File <input type="file" name="Thumbnail" id="thumbnail" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit" />
                <input id="btnSubmit" type="button" value="Submit by AJAX" />
            </div>
        </div>
    </form>
    <script>
        $("#btnSubmit").click(function () {
            let form = new FormData();
            form.append('title', $('#title').val());
            form.append('thumbnail', $('#thumbnail')[0].files[0]);

            $.ajax({
                url: '/api/post',
                data: form,
                type: 'POST',
                contentType: false,
                processData: false,
            }).always(function (res) {
                let resText = res.responseText ? res.responseText : res;
                alert("Response: " + resText);
            });
        });
    </script>
</body>
</html>
